.container {
  @apply flex-auto flex justify-center items-center sm:items-start;
  .cardList {
    @apply hidden sm:flex justify-center items-center w-full h-[600px] pt-[130px];
    perspective: 1500px;
    .cardBackground {
      @apply absolute top-1/2 left-1/2 translate-x-[-49%] translate-y-[-50%] opacity-0;
      transition: opacity 1s ease-in-out 0.7s;
      &.showUs {
        opacity: 1;
      }
    }
    .cardItem {
      @apply relative w-[200px] h-[300px];
      margin: 0px -20px;
      opacity: 0;
      transform-style: preserve-3d;
      box-shadow: 0 0 9px -3px #af9363;

      &.showUs {
        opacity: 1;
      }

      .cardItemFront,
      .cardItemBack {
        @apply absolute top-0 left-0 right-0 bottom-0 flex flex-col gap-2 items-center justify-center text-center break-keep;
        background-image: url("/images/cards.jpg");
        background-size: 100% 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
        .cardItemTitle {
          @apply font-extrabold text-xl text-[#d4b887];
        }
        .cardItemDesc {
          @apply w-[200px] text-[#dfd8b7];
        }
      }
      .cardItemBack {
        transform: rotateY(180deg);
      }

      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          transition: transform 300ms ease-in-out, width 300ms ease-in-out,
            height 300ms ease-in-out, margin 300ms ease-in-out,
            opacity 500ms ease-in-out calc(1000ms + (200ms * $i));
          z-index: 4-$i;
          transform: rotateX(0deg)
            rotateY(-30deg)
            rotateZ(calc(-30deg + (15deg * $i)))
            translateY(-30px * (1 - ($i % 2)));

          &.selectedMenu {
            @apply w-[240px] h-[360px] z-[4];
            animation: shiningBorder 3s ease-in-out infinite;
            margin: 0px -5px;
            transform: rotateY(-180deg)
              rotateZ(calc(30deg - (15deg * $i)))
              translateY(-30px * (1 - ($i % 2)));
          }
        }
      }
    }

    .cardListWrapper {
      @apply absolute z-[5] top-0 left-0 right-0 bottom-0 flex justify-center items-center pt-[130px];
      perspective: 1500px;
      .cardItemWrapper {
        @apply relative w-[200px] h-[300px] flex items-center justify-center cursor-pointer;
        margin: 0px -20px;

        @for $i from 1 through 3 {
          &:nth-child(#{$i}) {
            transform: rotateY(-30deg)
              rotateZ(calc(-30deg + (15deg * $i)))
              translateY(-30px * (1 - ($i % 2)));

            &.selectedMenu {
              @apply w-[240px] h-[360px] z-[6];
              margin: 0px -5px;
              transform: rotateY(0deg)
                rotateZ(calc(-30deg + (15deg * $i)))
                translateY(-30px * (1 - ($i % 2)));
            }
          }
        }
      }
    }
  }

  .smCube {
    @apply relative w-[320px] h-[260px] hidden xs:block sm:hidden opacity-0;
    transition: opacity 0.5s ease-in-out 0.7s;
    &.showUs {
      opacity: 1;
    }
    transform-style: preserve-3d;
    perspective: 1000px;
    perspective-origin: 50% -47%;

    & > div {
      @apply absolute w-full h-full;
    }

    // 큐브 전면부
    .smFront {
      @apply flex flex-col justify-center items-center text-5xl font-extrabold text-[#695741] z-[1];
      transform: translateZ(160px);
      font-family: 휴먼편지체;
      background-image: url("/images/brownpaperbox_texture.jpg");
      background-position: center;
      background-size: cover;
      filter: brightness(80%);
      border-left: 1px solid #86684c;
      border-right: 1px solid #86684c;
    }

    // 큐브 후면부
    .smBack {
      transform: rotateY(180deg) translateZ(160px);
      background-image: url("/images/brownpaperbox_texture.jpg");
      background-position: center;
      background-size: cover;
      filter: brightness(50%);
    }

    // 큐브 좌면부
    .smLeft {
      transform: rotateY(-90deg) translateZ(160px);
      background-image: url("/images/brownpaperbox_texture.jpg");
      background-position: center;
      background-size: cover;
      filter: brightness(60%);
    }

    // 큐즈 우면부
    .smRight {
      transform: rotateY(90deg) translateZ(160px);
      background-image: url("/images/brownpaperbox_texture.jpg");
      background-position: center;
      background-size: cover;
      filter: brightness(60%);
    }

    .cardItem {
      @apply absolute flex w-[300px] h-[260px] p-3 top-0 left-[10px] text-[#333] opacity-0;
      &.showUs {
        opacity: 1;
      }
      background-image: url("/images/brownpaperfile_texture3.jpg");
      background-position: center;
      background-size: cover;
      border: 1px solid #765729;

      &:nth-child(1).selectedMenu {
        top: -70px;
      }
      &:nth-child(2).selectedMenu {
        top: -90px;
      }
      &:nth-child(3).selectedMenu {
        top: -100px;
      }
      .cardItemHeader {
        @apply absolute top-[-29.5px] w-[150px] h-[30px] flex items-end;
        border: 1px solid #765729;
        border-bottom: none;
        border-radius: 15px 15px 0 0;
        .cardItemHeaderContent {
          @apply flex justify-center items-center h-[24px] gap-1 w-full font-extrabold;
        }
      }
      .cardItemDescr {
        @apply rounded font-extrabold py-1 px-2 text-[#444];
        background-image: url("/images/whitepaper_texture.jpg");
        background-position: center;
        background-size: cover;
      }
      &:nth-child(odd) {
        border-radius: 0 5px 0 0;
        .cardItemHeader {
          @apply left-[-1px];
          background-image: url("/images/brownpaperfile_texture3.jpg");
        }
      }
      &:nth-child(even) {
        border-radius: 5px 0 0 0;
        .cardItemHeader {
          @apply right-[-1px];
          background: linear-gradient(90deg, #d39947, #c98e42);
        }
      }

      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          transition: top 300ms ease-in-out,
            opacity 500ms ease-in-out calc(1000ms + (200ms * $i));
          transform: translateZ(280px - ($i * 140px));
          .cardItemDescr {
            font-size: calc(14px + (2px * $i));
          }
        }
      }
    }
  }

  .xsCube {
    @apply relative w-[210px] h-[175px] xs:hidden opacity-0;
    transition: opacity 0.5s ease-in-out 0.7s;
    &.showUs {
      opacity: 1;
    }
    transform-style: preserve-3d;
    perspective: 1000px;
    perspective-origin: 50% -190%;

    & > div {
      @apply absolute w-full h-full;
    }

    // 큐브 전면부
    .xsFront {
      @apply flex flex-col justify-center items-center text-4xl font-extrabold text-[#695741] z-[1];
      transform: translateZ(105px);
      font-family: 휴먼편지체;
      background-image: url("/images/brownpaperbox_texture.jpg");
      background-position: center;
      background-size: cover;
      filter: brightness(80%);
      border-left: 1px solid #86684c;
      border-right: 1px solid #86684c;
    }

    // 큐브 후면부
    .xsBack {
      transform: rotateY(180deg) translateZ(105px);
      background-image: url("/images/brownpaperbox_texture.jpg");
      background-position: center;
      background-size: cover;
      filter: brightness(50%);
    }

    // 큐브 좌면부
    .xsLeft {
      transform: rotateY(-90deg) translateZ(105px);
      background-image: url("/images/brownpaperbox_texture.jpg");
      background-position: center;
      background-size: cover;
      filter: brightness(60%);
    }

    // 큐즈 우면부
    .xsRight {
      transform: rotateY(90deg) translateZ(105px);
      background-image: url("/images/brownpaperbox_texture.jpg");
      background-position: center;
      background-size: cover;
      filter: brightness(60%);
    }

    .cardItem {
      @apply absolute flex w-[196px] h-[150px] p-3 top-0 left-[7px] text-[#333] opacity-0;
      &.showUs {
        opacity: 1;
      }
      background-image: url("/images/brownpaperfile_texture3.jpg");
      background-position: center;
      background-size: cover;
      border: 1px solid #765729;

      &:nth-child(1).selectedMenu {
        top: -80px;
      }
      &:nth-child(2).selectedMenu {
        top: -60px;
      }
      &:nth-child(3).selectedMenu {
        top: -90px;
      }
      .cardItemHeader {
        @apply absolute top-[-29.5px] w-[150px] h-[30px] flex items-end;
        border: 1px solid #765729;
        border-bottom: none;
        border-radius: 15px 15px 0 0;
        .cardItemHeaderContent {
          @apply flex justify-center items-center h-[24px] gap-1 w-full font-extrabold;
        }
      }
      .cardItemDescr {
        @apply rounded font-extrabold py-1 px-2 text-[#444];
        background-image: url("/images/whitepaper_texture.jpg");
        background-position: center;
        background-size: cover;
      }
      &:nth-child(odd) {
        border-radius: 0 5px 0 0;
        .cardItemHeader {
          @apply left-[-1px];
          background-image: url("/images/brownpaperfile_texture3.jpg");
        }
      }
      &:nth-child(even) {
        border-radius: 5px 0 0 0;
        .cardItemHeader {
          @apply right-[-1px];
          background: linear-gradient(90deg, #d39947, #c98e42);
        }
      }

      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          transition: top 300ms ease-in-out,
            opacity 500ms ease-in-out calc(1000ms + (200ms * $i));
          transform: translateZ(180px - ($i * 90px));
          .cardItemDescr {
            font-size: calc(13px + (1px * $i));
          }
        }
      }
    }
  }
}

@keyframes shiningBorder {
  0% {
    box-shadow: 0 0 9px -3px #af9363;
  }
  50% {
    box-shadow: 0 0 12px -1px #d8c5a4;
  }
  100% {
    box-shadow: 0 0 9px -3px #af9363;
  }
}
