$basicFontColor: #eee;
$myDarkBlue: #2a5996;
$myBlue: #4691f6;
$myLightBlue: #76b1ff;

.body {
  @apply flex-auto xl:px-48 lg:px-32 md:px-16 sm:px-8 px-4 pt-2;
  color: $basicFontColor;

  .searchContainer {
    @apply flex flex-col gap-4;

    .searchHeader {
      @apply flex w-full gap-4 items-center h-10;
    }

    .searchBody {
      @apply flex flex-wrap gap-8 items-start;

      .bodyBoxShadow {
        border-radius: 10px;
        box-shadow: 0px 0px 10px -5px #fff;
      }

      .targetEngraveDiv {
        @apply flex flex-col px-2 py-4 w-[450px] gap-4;
        .targetTitle {
          @apply flex text-xl font-bold items-center justify-center gap-2;
        }

        .targetSearchDiv {
          @apply inline-flex relative justify-center mx-auto;
          .engraveIcon {
            @apply absolute left-2 top-0 bottom-0 my-auto;
            &.activeIcon {
              stroke: $myLightBlue;
            }
          }

          .targetSearchInput {
            @apply relative w-48 outline-none py-2 pl-9 bg-transparent;
            border: 1px solid #888a;
            border-radius: 5px;
            color: #ddd;

            &.focused {
              border-color: $myLightBlue;
              color: $myLightBlue;
            }
            &.focused::placeholder {
              color: $myLightBlue;
            }
          }
        }

        .targetList {
          @apply inline-flex flex-col items-start mx-auto min-h-[400px];
          .targetListItem {
            @apply h-[86px] inline-flex p-2 pr-6 items-center gap-2;
            .targetListItemTitle {
              @apply min-w-[134px] text-center font-bold text-[#ccc];
              span {
                color: $myBlue;
              }
            }
            .engraveImgSlot {
              @apply relative inline-flex justify-center;
              .engraveImg {
                @apply absolute top-1/2 left-1/2 w-[45px] h-[45px];
                transform: translate(-50%, -50%);
                &::after {
                  @apply absolute top-0 left-0 right-0 bottom-0 block;
                  content: "";
                  border-radius: 50%;
                  box-shadow: inset 0px 0px 20px -4px #000;
                }
              }
            }
            .engraveLevelList {
              @apply flex gap-1 pl-3;
              li {
                @apply inline-flex justify-center items-center w-6 h-6 font-bold cursor-pointer text-xs;
                transition: transform 200ms ease-out;
                border-width: 1px;

                &:hover {
                  transform: scale(1.2);
                }
              }
            }
          }
        }
      }
      .equipEngraveDiv {
        @apply flex flex-col px-7 py-4 w-[420px] gap-4;
        .equipTitle {
          @apply text-xl font-bold text-center;
        }
        .equipSearchDiv {
          @apply inline-flex relative justify-center mx-auto;
          .dropdownSelect {
            @apply flex justify-center gap-1 p-1 pr-2 cursor-pointer w-[130px] transition-all duration-200;
            border: 2px solid #bbb;
            border-radius: 5px;
            &:hover,
            &.focused {
              background: $myBlue;
              border-color: $myBlue;
              color: #fff;
              svg {
                stroke: #fff;
              }
            }
          }
        }

        .equipList {
          @apply text-center min-h-[140px];
          .equipListItem {
            @apply h-[70px] align-middle;
            .equipListItemButtons {
              @apply inline-flex justify-center items-center gap-2;
              .equipAbilityInputDiv {
                @apply w-[141px] text-2xl font-extrabold flex gap-2;
                .inputArea {
                  @apply w-12 h-11 text-right;
                  line-height: 44px;
                }
                .equipAbilityInput {
                  @apply w-8 text-2xl font-extrabold text-right outline-none;
                  background: transparent;
                  border-bottom: 1px solid #fff;
                }
              }
              .equipAbilityP {
                @apply w-12 text-2xl font-extrabold text-right;
              }
              .equipAbilityButtons {
                @apply flex gap-1 font-bold items-start;
                div {
                  @apply flex flex-col gap-1;
                  button {
                    @apply w-5 h-5 inline-flex justify-center items-center;
                    border: 1px solid #fff;
                  }
                }
              }

              &.negativeItemButtons {
                @apply w-[141px] justify-start;
              }
            }
            .equipListItemTitle {
              @apply text-center font-bold text-[#ccc] w-[150px];
              span {
                color: $myBlue;
              }
              .negativeSelect {
                @apply outline-none;
                color: rgb(195, 56, 56);
                background: transparent;
                -moz-appearance: none;
                -webkit-appearance: none;
                appearance: none;

                option {
                  @apply p-4;
                  background: black;
                }
              }
            }
            .equipListItemValue {
              @apply text-2xl font-extrabold w-12 text-center;
            }
            .equipListItemButtonDiv {
              @apply flex flex-col gap-1;
              button {
                @apply w-5 h-5 flex justify-center items-center font-bold;
                border: 1px solid white;
              }
            }
            .engraveImgSlot {
              @apply relative inline-flex justify-center my-auto;
              .engraveImg {
                @apply absolute top-1/2 left-1/2 w-[40px] h-[40px];
                transform: translate(-50%, -50%);

                &.emptyEngraveImg {
                  @apply w-[51px] h-[51px];
                }
                &::after {
                  @apply absolute top-0 left-0 right-0 bottom-0 block;
                  content: "";
                  border-radius: 50%;
                  box-shadow: inset 0px 0px 20px -4px #000;
                }
              }
            }
            .engraveLevelList {
              @apply flex gap-1 pl-3;
              li {
                @apply inline-flex justify-center items-center w-6 h-6 font-bold cursor-pointer text-xs;
                transition: transform 200ms ease-out;
                border-width: 1px;

                &:hover {
                  transform: scale(1.2);
                }
              }
            }
          }

          .emptyListItem {
            @apply h-[140px] relative flex justify-center items-center text-2xl font-extrabold text-[#ccc];
            p {
              @apply relative;
              color: #2f73cd;
            }
            .emptyListItemIconDiv {
              @apply absolute top-1/2 left-1/2;
              transform: translate(-50%, -50%);
              opacity: 0.3;
              svg {
                transform: skew(-20deg) rotate(20deg);
                stroke: $myLightBlue;
              }
            }
          }
        }
      }
      .targetAccessoryDiv {
        @apply flex flex-col px-7 py-4 min-w-[450px] gap-4;
        h4 {
          @apply flex text-xl font-bold items-center justify-center gap-2;
        }
        h5 {
          @apply font-bold;
        }

        .accessoryTableCol1 {
          @apply py-2;
          div {
            @apply px-2 pb-1 inline-flex flex-col min-w-[76px] min-h-[74px] justify-center items-center;
            border: 2px solid #fff;
            border-radius: 10px;
          }
        }

        .accessoryTableCol2 {
          .colBlock {
            @apply flex flex-col w-24 items-center;
            h5 {
              @apply w-14 pl-2 text-lg;
            }
            div {
              @apply relative inline-block;
              .accessoryQuailityInput {
                @apply outline-none w-14 mt-1 text-right pb-[2px];
                background: none;
                border-bottom: 1px solid transparent;
                &:focus {
                  @apply font-bold;
                  color: $myBlue;
                }
              }
              &::before {
                @apply absolute bottom-0 right-4 w-8;
                content: "";
                border-bottom: 1px solid #aaa;
              }
              &::after {
                @apply absolute bottom-0 right-4 w-0 duration-500;
                transition: width 0.5s;
                content: "";
                border-bottom: 1px solid $myBlue;
              }
              &:has(.accessoryQuailityInput:focus)::after {
                @apply w-8;
              }
            }
          }
        }

        .accessoryTableCol3 {
          .colBlock {
            @apply flex flex-col;
            h5 {
              @apply inline-flex text-lg w-[70px] justify-center;
            }
          }
        }
        .accessoryTableCol4 {
          .colBlock {
            @apply flex flex-col;
            h5 {
              @apply inline-flex text-lg w-[70px] justify-center;
            }
          }
        }
      }
    }

    .searchFooter {
      @apply flex w-full gap-4 items-center h-10;
    }

    .dropdownWrapper {
      @apply absolute top-11 left-0 w-[638px] overflow-hidden z-10;
      &[data-dropdown-order="1"] {
        @apply w-[216px] left-1/2;
        transform: translateX(-50%);
      }
      .dropdown {
        @apply w-full pt-7;
        animation: dropdown 300ms ease-out;
        box-shadow: 0px 0px 7px -3px #ababab;
        .dropdownHeader {
          @apply absolute top-0 text-sm w-full text-center py-1 font-bold;
          background: linear-gradient(
            180.2deg,
            rgb(8, 8, 8) 6.8%,
            rgb(30, 30, 30) 131%
          );

          svg {
            @apply absolute right-2 top-0 bottom-0 my-auto cursor-pointer;
            &:hover {
              stroke: $myBlue;
            }
          }
        }

        .dropdownList {
          @apply w-full max-h-[400px] flex flex-wrap justify-start gap-2 overflow-auto bg-[#222] p-2;
          .dropdownListItem {
            @apply relative inline-flex w-[200px] gap-2 items-center py-1 pl-3 pr-4 cursor-pointer font-bold;
            border: 2px solid #494949;
            p {
              @apply flex-auto text-center;
            }

            .selectedItem {
              @apply flex absolute bg-[#000d] justify-center items-center;
              transition: opacity 100ms ease-out;
              left: -2px;
              right: -2px;
              top: -2px;
              bottom: -2px;
              border: 2px solid $myBlue;
              color: $myBlue;
            }

            img {
              @apply inline;
            }
          }

          .emptyDropdownListItem {
            @apply w-full text-xl font-bold text-center;
            height: 41.56px;
            line-height: 41.56px;
          }
        }
      }
    }

    .emptyListItem {
      @apply h-[100px] relative flex justify-center items-center text-2xl font-extrabold text-[#ccc];
      &[data-empty-type="1"] {
        @apply h-[400px];
        svg {
          animation: rotating 6s linear infinite;
          stroke: $myLightBlue;
          width: 150px;
          height: 150px;
        }
      }
      p {
        @apply relative;
        color: #2f73cd;
      }
      .emptyListItemIconDiv {
        @apply absolute top-1/2 left-1/2;
        transform: translate(-50%, -50%);
        opacity: 0.3;
        perspective: 100px;
        svg {
          animation: rotating 6s linear infinite;
          stroke: $myLightBlue;
        }
      }
    }

    .plusMinusButtons:hover {
      @apply font-extrabold text-lg transition-all duration-200;
      background: #fff;
      color: #111;
    }
    .editButton:hover {
      svg {
        @apply transition-all duration-100;
        stroke: $myBlue;
      }
    }
  }
}

@keyframes dropdown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes rotating {
  0% {
    transform: skew(-23deg) rotateY(0);
  }
  100% {
    transform: skew(-23deg) rotateY(360deg);
  }
}
