.container {
  @apply flex flex-auto flex-col items-center justify-center;

  .searchDiv {
    @apply w-full min-h-[50px] my-2 py-2 flex justify-center items-center;

    .searchInput {
      @apply h-8 mx-2 px-2 outline-none bg-transparent text-white w-[300px];
      border-bottom: 1px solid #8885;
      transition: border-bottom 0.2s linear, box-shadow 0.2s linear;

      &:focus {
        border-bottom: 1px solid #888a;
        box-shadow: 0px 6px 4px -2px #fff2;
      }
    }

    .searchBtn {
      @apply text-[#ddd] font-bold cursor-pointer w-24 h-10 text-lg transition-all duration-300;
      border: 2px solid #ddd;
      border-radius: 5px;

      &:hover {
        @apply bg-[#fff2];
      }
    }
  }

  // 검색 후 줄어든 검색창
  .searchDiv.shrinked {
    @apply w-full min-h-[40px] my-1 py-1 text-sm;
    .searchInput {
      @apply h-8 mx-1 px-1 w-[240px];
    }
    .searchBtn {
      @apply font-bold w-20 h-8 text-sm;
    }
  }

  .recentContainer {
    @apply text-3xl min-w-[450px] min-h-[400px] font-bold flex flex-col justify-center items-center text-[#bbb] my-2 bg-[#fff2];
    border: 3px solid #888;
    border-radius: 10px;

    .iconBox {
      @apply w-[300px] h-[300px] mb-5 relative;

      .emptyIcon {
        @apply absolute top-0 left-0;
      }
    }

    &:hover .emptyIcon {
      animation: jiggle 0.2s linear;
    }

    // 검색기록 있는 경우
    .recentList {
      @apply w-full flex-auto;

      .recentListItem {
        @apply flex text-xl items-center px-2 py-3 hover:bg-[#1d2026]
        cursor-pointer transition-all duration-200 ease-in-out;
        border-bottom: 1px solid #444;

        &:first-child {
          border-radius: 10px 10px 0 0;
        }

        .favoriteIcon {
          @apply cursor-pointer hover:stroke-red-500 transition-all duration-200 mx-2;
        }

        .recentName {
          @apply grow;
        }

        .deleteIcon {
          @apply cursor-pointer hover:stroke-[#437dcb] transition-all duration-200 mx-2;
        }
      }
    }
  }

  .infoContainer {
    @apply flex-auto grid w-full grid-cols-1 
    lg:grid-cols-2 2xl:grid-cols-3 gap-2;

    .infoContainerItemDiv {
      @apply bg-[#0901] w-full relative min-h-[600px] max-w-[550px] mx-auto;

      &:first-child {
        @apply flex flex-col justify-center items-center;
        .profileHeader {
          @apply py-1 w-full;
          .profileHeaderLine {
            @apply flex justify-center items-center text-[#eee] font-bold mb-1;
            line-height: 24px;

            &:first-child > span {
              @apply mx-1;
            }
            .profileServerSpan {
              @apply py-1 px-3 bg-[#116] text-sm;
              border-radius: 14px;
            }
            .profileNameSpan {
              @apply font-normal;
              & > span {
                @apply font-extrabold;
              }
            }
            .profileClassSpan {
              @apply text-sm;
            }

            &:not(:first-child) > span {
              @apply mr-2 text-sm;

              &:last-child {
                @apply mr-0;
              }
            }
            .profileCategorySpan {
              @apply py-1 px-2 bg-[#116] font-extrabold;
              border-radius: 12px;
              font-size: 11px !important;
            }
          }
        }

        .profileBody {
          @apply relative bg-[#15181d] flex justify-between;
          width: 450px;
          height: 500px;

          .profileEquipmentDiv {
            @apply w-[70px] h-full relative z-10 flex flex-wrap flex-col py-8 justify-between items-center;

            .profileEquipmentSlot {
              @apply w-[40px] h-[40px] p-[7px] flex justify-center items-center relative overflow-hidden;
              box-sizing: content-box;
              border-radius: 5px;

              .profileEquipmentHoning {
                @apply absolute top-0 left-1 font-bold text-white;
                font-size: 11px;
              }
              .profileEquipmentQualityBar {
                @apply absolute bottom-0 w-full h-[9px] bg-[#0003];
                font-size: 9px;
                line-height: 9px;
                border-top: 1px solid #0001;

                .profileEquipmentQualityValue {
                  @apply absolute top-1/2 left-1/2 text-white z-20;
                  transform: translate(-50%, -50%);
                }
              }
            }
          }
          .profileAccessoryDiv {
            @apply w-[70px] h-full relative z-10 flex flex-wrap flex-col py-4 justify-between items-center;

            .profileAccessorySlot {
              @apply w-[46px] h-[46px] p-1 flex justify-center items-center relative overflow-hidden;
              box-sizing: content-box;
              border-radius: 5px;

              .profileAccessoryOption {
                @apply absolute top-0 left-0 font-bold text-white bg-[#0005] pb-[5px] px-1;
                font-size: 11px;
                border-radius: 5px;

                & > p {
                  height: 11px;
                }
              }

              .profileAccessoryQualityBar {
                @apply absolute bottom-0 w-full h-[9px] bg-[#0003];
                font-size: 9px;
                line-height: 9px;
                border-top: 1px solid #0001;

                .profileAccessoryQualityValue {
                  @apply absolute top-1/2 left-1/2 text-white z-20;
                  transform: translate(-50%, -50%);
                }
              }
            }
          }
          .profileImage {
            @apply absolute top-1/2 left-1/2 z-0;
            transform: translate(-50%, -50%);
            height: 500px;
          }
          // 혹시라도 기본이미지를 못불러오면 대신 출력
          .emptyProfileIcon {
            @apply my-[15px] mx-[62.5px] absolute top-1/2 left-1/2 z-0;
            transform: translate(-200px, -231px);
            width: 275px;
            height: 432px;
          }
        }
      }
    }

    .tooltip {
      @apply w-[340px] bg-[#2A2C35] px-0 z-30 max-h-[450px] overflow-auto;
      opacity: 1;
      border-radius: 0;
      border: 1px solid #000;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
        width: 4px;
        height: 8px;
        background-color: #4a4c55;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #1a1c25;
      }

      & > hr {
        @apply my-1;
        border-color: #000;
      }
      & > div:first-child {
        @apply px-4 my-0;
      }
      & > div {
        @apply px-4 my-3;
      }
      .tooltipOuterDiv > div:not(:last-child) {
        @apply mb-2;
      }

      .tooltipGradeDiv {
        @apply flex items-center my-2;
        img {
          @apply mr-2;
          border: 1px solid #000;
        }

        .tooltipGradeInfo {
          @apply my-1 flex-auto;
          &:nth-child(n) {
            @apply py-[2px];
          }

          .qualityDiv {
            @apply flex items-center;

            & > div {
              @apply flex-auto mx-1 bg-[#0002];
              border: 1px solid #fff3;
            }
          }
        }
      }
    }
  }
}

@keyframes jiggle {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0);
  }
}
