$brighter: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
$brighter2: linear-gradient(rgba(170, 170, 170, 0.1), rgba(170, 170, 170, 0.1));
$basicFontColor: #eee;
$myBlue: #4691f6;
$myLightBlue: #76b1ff;
$myDarkBlue: #2a5996;
$gemSlotsize: 51px;
@function getEmptySlotBackground($num) {
  @return url(/images/empty_equipment_#{$num}.png);
}
@function getEmptyAvatarSlotBackground($num) {
  @return url(/images/empty_avatar_#{$num}.png);
}

.container {
  @apply flex flex-auto flex-col items-center px-2;

  .searchDiv {
    @apply w-full min-h-[50px] my-1 sm:my-2 sm:py-2 flex justify-center items-center gap-4;

    .searchInputWrapper {
      @apply relative w-[200px] sm:w-[300px];
      .searchInput {
        @apply h-8 px-2 outline-none bg-transparent text-white w-full;
        border-bottom: 1px solid #8885;
        transition: border-bottom 0.2s linear, box-shadow 0.2s linear;

        &:focus {
          border-bottom: 1px solid #888a;
          box-shadow: 0px 6px 4px -2px #fff2;
        }
      }
      .dropdown {
        @apply absolute bottom-0 left-0 bg-[#151515] z-[5] flex-col max-h-[160px];

        color: $basicFontColor;
        transform: translate(0, 100%);
        .dropdownTitle {
          @apply text-center py-[2px] bg-[#ddd1] text-xs;
        }

        .dropdownItem {
          @apply inline-flex items-center py-1 xs:py-2 text-xs xs:text-sm sm:text-base font-bold px-1 hover:bg-[#fff1] cursor-pointer;

          .dropdownNameSpan {
            @apply mx-2;
          }

          .deleteIcon {
            margin-left: auto;
          }

          svg {
            @apply w-[15px] xs:w-[18px];
          }
        }
      }
    }

    .searchButton {
      @apply text-[#ddd] font-bold cursor-pointer w-16 h-8 sm:w-24 sm:h-10 text-base sm:text-lg transition-all duration-300;
      border: 2px solid #ddd;
      border-radius: 5px;

      &:hover {
        @apply bg-[#fff2];
      }
    }
  }

  // 검색 후 줄어든 검색창
  .searchDiv.shrinked {
    @apply w-full min-h-[40px] my-1 py-1 text-sm gap-2;
    .searchInputWrapper {
      @apply w-[240px];
      .searchInput {
        @apply h-8 px-1;
      }
      .dropdown {
        @apply w-[220px] xs:w-[250px] sm:w-[300px];
      }
    }
    .searchButton {
      @apply font-bold w-20 h-8 text-sm;
    }
  }

  .recentContainer {
    @apply text-3xl flex-auto w-full px-4 font-bold flex flex-col justify-center items-center text-[#bbb] my-2;

    .recentTitle {
      @apply text-base sm:text-xl xl:text-2xl font-extrabold mb-4;
    }

    .emptyIconBox {
      @apply mb-5 relative;
      svg {
        @apply w-[200px] h-[200px] xs:w-[300px] xs:h-[300px];
      }
    }

    .emptyMsg {
      @apply text-xl xs:text-3xl;
    }

    &:hover .emptyIcon {
      animation: jiggle 0.2s linear;
    }

    // 검색기록 있는 경우
    .recentList {
      @apply w-full flex-auto text-center;

      .recentListItem {
        @apply inline-flex flex-col text-base items-center px-2 py-3 bg-[#14181d] w-[210px] h-[280px] xl:w-[300px] xl:h-[400px]
        cursor-pointer transition-all duration-200 ease-in-out relative hover:text-[#4691f6] m-1 xl:m-2;
        background-size: 100% 100%;
        background-image: url("/images/searched_card_outline.png");
        &:hover {
          background-image: url("/images/searched_card_outline_hover.png");
        }

        .recentItemHeader {
          @apply flex items-start w-full pl-2 xl:pl-4 text-xs xl:text-sm font-bold;
          &:first-child {
            @apply justify-between text-sm xl:text-lg font-extrabold relative;
            .recentIconDiv {
              @apply absolute top-0 right-1 bg-[#0008] transition-all duration-300;
            }
          }
          &:nth-child(2) {
            @apply gap-2;
          }
        }

        &:hover .recentItemHeader .recentIconDiv {
          background-color: #0000;
        }

        .charImg {
          @apply absolute bottom-2 xl:bottom-4 left-0 right-0 mx-auto w-[189px] xl:w-[270px];
        }
      }
    }
  }

  .infoContainer {
    @apply w-full inline-grid grid-cols-1 justify-center items-start py-2;

    .upperContainer,
    .stContainer,
    .tegcContainer {
      @apply relative;
    }

    .emptyInfo {
      @apply flex flex-col w-full items-center justify-center text-[#777] text-lg font-extrabold text-center py-2 break-keep;
      svg {
        stroke: #777;
      }
    }

    .infoHeader {
      @apply flex py-1 justify-center text-sm font-bold w-full;
      color: #ccc;
      background: linear-gradient(90deg, #1f242c 15%, #212d3a 50%, #1f242c 85%);
      border-bottom: 1px solid #222;
    }

    .upperContainer {
      @apply grid items-start xs:grid-cols-[repeat(6,minmax(50px,70px))] sm:grid-cols-[repeat(10,minmax(50px,70px))]
       md:grid-cols-[repeat(12,50px)] lg:grid-cols-[repeat(18,minmax(48px,50px))] gap-2 mx-auto bg-[#0005];

      /* ###############################
      ########## ArmoryEAA 관련 #########
      ############################### */
      .profileDiv {
        @apply col-span-6 md:col-span-7 flex flex-col gap-2 items-center pb-4 bg-[#14181d] rounded-lg overflow-hidden;

        .profileHeader {
          @apply flex flex-col gap-2 justify-center items-center;
          .profileCategorySpan {
            @apply py-[2px] px-2 bg-[#292f36] font-extrabold text-sm;
            border-radius: 8px;
          }
          .profileUserDiv {
            @apply inline-flex flex-col items-center gap-1 font-bold;
            .siblingsDiv {
              @apply inline-flex items-center gap-1 text-sm py-[2px] px-2 rounded cursor-pointer bg-[#292f36] hover:bg-[#2d343c];
            }

            .scDiv {
              @apply flex items-center gap-1;
              .profileClassP {
                @apply relative;
                .classImg {
                  @apply absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] opacity-20 w-7 h-7;
                }
                .profileClassSpan {
                  @apply text-sm;
                }
              }
            }
            .nicknameDiv {
              @apply flex flex-col mx-auto text-center;
              .nameSpan {
                @apply text-lg leading-6;
              }
              .titleSpan {
                @apply text-sm;
              }
            }
          }
          .profileLevelDiv {
            @apply flex gap-5 xs:gap-6;
            .levelDiv {
              @apply text-sm xs:text-lg font-bold;
              .levelSpan {
                @apply text-base xs:text-xl font-extrabold;
              }
            }
          }
        }

        .profileBody {
          @apply relative flex justify-between items-center min-h-[363px] w-full overflow-hidden;
          aspect-ratio: 153 / 177;

          .profileMenu {
            @apply absolute top-0 left-1/2 translate-x-[-50%] flex gap-4 z-[3] bg-[#15181ddd];
            .profileMenuButton {
              @apply text-white text-center hover:font-bold w-[50px] cursor-pointer relative;
              &::after {
                content: "";
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: #172f9c;
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
              }
              &:hover::after {
                transform: scaleX(1);
                transform-origin: bottom left;
              }
              &.active {
                @apply font-bold;
                &::after {
                  transform: scaleX(1) !important;
                }
              }
            }
          }

          .profileEquipmentDiv {
            @apply h-full relative z-[2] flex flex-col px-4 gap-1 xs:gap-3 justify-center items-center;

            .profileEquipmentSlot {
              @apply w-[38px] h-[38px] xs:w-[40px] xs:h-[40px] p-1 xs:p-[7px] flex justify-center items-center relative overflow-hidden;
              box-sizing: content-box;
              border-radius: 5px;

              .profileEquipmentHoning {
                @apply absolute top-0 left-0 font-bold text-white bg-[#0005] px-1;
                font-size: 11px;
                border-radius: 5px;
              }
              .profileEquipmentQualityBar {
                @apply absolute bottom-0 w-full h-[9px] bg-[#0003];
                font-size: 9px;
                line-height: 9px;
                border-top: 1px solid #0001;

                .profileEquipmentQualityValue {
                  @apply absolute top-1/2 left-1/2 font-bold text-white z-[3];
                  transform: translate(-50%, -50%);
                }
              }
            }
          }
          .profileAccessoryDiv {
            @apply relative z-[2] flex flex-col px-4 gap-1 justify-center items-center;

            .profileAccessorySlot {
              @apply w-[38px] h-[38px] xs:w-[46px] xs:h-[46px] p-1 flex justify-center items-center relative overflow-hidden;
              box-sizing: content-box;
              border-radius: 5px;

              .profileAccessoryOption {
                @apply absolute top-0 left-0 font-bold text-white bg-[#0005] py-[2px] px-[1px]
                 xs:px-1 leading-[11px] xs:leading-[12px] text-[10px] xs:text-[11px];
                border-radius: 5px;
              }

              .profileAccessoryQualityBar {
                @apply absolute bottom-0 w-full h-[9px] bg-[#0003];
                font-size: 9px;
                line-height: 9px;
                border-top: 1px solid #0001;

                .profileAccessoryQualityValue {
                  @apply absolute top-1/2 left-1/2 font-bold text-white z-[3];
                  transform: translate(-50%, -50%);
                }
              }
            }
          }
          .profileAvatarDiv {
            @apply w-[140px] h-full px-2 relative z-[2] flex flex-col gap-1 xs:gap-3 justify-center items-start;
            &[data-direction="right"] {
              @apply items-end;
            }

            .profileAvatarSubAscDiv,
            .profileAvatarSubDescDiv {
              @apply flex w-full gap-1 items-center;
            }
            .profileAvatarSubDescDiv {
              @apply flex-row-reverse;
            }
            .profileAvatarSlot {
              @apply w-[38px] h-[38px] xs:w-[46px] xs:h-[46px] p-1 flex justify-center items-center relative overflow-hidden;
              box-sizing: content-box;
              border-radius: 5px;
              &.profileEmptySlot {
                @apply w-[38px] h-[38px] xs:w-[46px] xs:h-[46px] p-[7px] #{!important};
                background-repeat: no-repeat;
                border-radius: 5px;
                background-size: contain;
              }
            }
            .blankAvatarSlot {
              @apply w-[38px] h-[38px] xs:w-[46px] xs:h-[46px] p-1 flex;
              box-sizing: content-box;
              border-radius: 5px;
            }
          }
          .profileEmptySlot {
            @apply w-[43px] h-[43px] p-[7px] #{!important};
            background-repeat: no-repeat;
            border-radius: 5px;
            background-size: contain;
          }
          .profileEmptyHelm {
            background-image: $brighter, getEmptySlotBackground(1);
          }
          .profileEmptyShoulders {
            background-image: $brighter, getEmptySlotBackground(2);
          }
          .profileEmptyChestpiece {
            background-image: $brighter, getEmptySlotBackground(3);
          }
          .profileEmptyPants {
            background-image: $brighter, getEmptySlotBackground(4);
          }
          .profileEmptyGloves {
            background-image: $brighter, getEmptySlotBackground(5);
          }
          .profileEmptyWeapon {
            background-image: $brighter, getEmptySlotBackground(6);
          }
          .profileEmptyNecklace {
            background-image: $brighter, getEmptySlotBackground(7);
          }
          .profileEmptyEarring {
            background-image: $brighter, getEmptySlotBackground(8);
          }
          .profileEmptyRing {
            background-image: $brighter, getEmptySlotBackground(9);
          }
          .profileEmptyBracelet {
            background-image: $brighter, getEmptySlotBackground(10);
          }
          .profileEmptyAbilityStone {
            background-image: $brighter, getEmptySlotBackground(11);
          }
          .profileEmptyWeaponAvatar {
            background-image: $brighter2, getEmptyAvatarSlotBackground(1);
          }
          .profileEmptyInstrumentAvatar {
            background-image: $brighter2, getEmptyAvatarSlotBackground(2);
          }
          .profileEmptyMovementAvatar {
            background-image: $brighter2, getEmptyAvatarSlotBackground(8);
          }
          .profileEmptyHeadAvatar {
            background-image: $brighter2, getEmptyAvatarSlotBackground(3);
          }
          .profileEmptyFace1Avatar {
            background-image: $brighter2, getEmptyAvatarSlotBackground(4);
          }
          .profileEmptyFace2Avatar {
            background-image: $brighter2, getEmptyAvatarSlotBackground(5);
          }
          .profileEmptyChestpieceAvatar {
            background-image: $brighter2, getEmptyAvatarSlotBackground(6);
          }
          .profileEmptyPantsAvatar {
            background-image: $brighter2, getEmptyAvatarSlotBackground(7);
          }
          .profileImage {
            @apply absolute top-1/2 left-1/2 z-0 w-full;
            transform: translate(-50%, -50%);
          }
        }
      }

      .stDiv {
        @apply flex sm:flex-col max-sm:items-start gap-2 col-span-6 sm:col-span-4 md:col-span-5;
        .statsDiv {
          @apply bg-[#14181d] rounded-lg overflow-hidden w-1/2 sm:w-auto;
          color: $basicFontColor;
          .statsBody {
            @apply flex flex-col items-center gap-2 py-3 px-2 text-xs xs:text-sm sm:text-base;
            .statsP {
              @apply flex justify-between w-full max-w-[250px];
              .statsSpan {
                @apply text-[#e4ba27] font-bold;
              }
            }
          }
        }

        .tendencyDiv {
          @apply bg-[#14181d] rounded-lg overflow-hidden w-1/2 sm:w-auto;
          color: $basicFontColor;
          .tendencyBody {
            @apply flex flex-col items-center gap-4 py-3 px-2;
            .tendencyInnerDiv {
              @apply flex pr-2 items-center w-full max-w-[310px];
              img {
                @apply inline-block;
              }
              .tendencyContentDiv {
                @apply w-full;
                .tendencyP {
                  @apply flex justify-between text-xs xs:text-sm font-bold;
                }
                .tendencyBar {
                  @apply h-2 bg-[#444] overflow-hidden;
                  .tendencyValueBar {
                    @apply h-2 block bg-[#0096ff];
                    animation: stretch 0.4s ease-out 0s;
                  }
                }
              }
            }
          }
        }
      }

      .egDiv {
        @apply flex xs:max-sm:flex-row flex-col gap-2 col-span-6 sm:col-span-5 md:col-span-6;
        .engravingDiv {
          @apply flex flex-col xs:max-sm:min-w-[240px] xs:max-sm:w-1/2 bg-[#14181d] rounded-lg overflow-hidden;

          .emptyInfo {
            svg {
              @apply w-[110px] h-[110px];
            }
          }

          .engravingBody {
            @apply px-2 py-3 flex flex-col gap-3 justify-center items-center my-auto;
            .engravingEffectsDiv {
              @apply inline-flex items-center gap-2 text-sm font-bold;
              color: $basicFontColor;

              .engravingEquipIconImage {
                border-radius: 50%;
              }
              .engravingNameP {
                @apply min-w-[150px];
              }
              .engravingLevel {
                @apply shrink-0 w-6 h-6 leading-6 text-center font-extrabold text-lg;
              }
            }
          }
        }

        .gemDiv {
          @apply xs:max-sm:w-1/2 bg-[#14181d] rounded-lg overflow-hidden;
          .gemBody {
            @apply flex flex-col items-center gap-2 my-2 px-1 sm:px-2 py-3;
            .nemesisJewelDiv,
            .frostfireJewelDiv {
              @apply relative mt-[18px] flex flex-wrap justify-center gap-1 p-2 sm:p-3 border-2 w-full max-w-[300px] border-[#2d303b] rounded-lg;
            }
            .jewelHeader {
              @apply absolute top-[-20px] left-1 text-xs bg-[#2d303b] px-2 leading-5 font-bold;
              content: "";
              border-radius: 5px 5px 0 0;
            }
            .gemSlot {
              @apply relative w-[38px] h-[38px] sm:w-[51px] sm:h-[51px];
              .gemImg {
                @apply w-[38px] h-[38px] sm:w-[51px] sm:h-[51px];
              }

              .gemOption {
                @apply absolute bottom-[1px] right-[1px] font-bold text-xs sm:text-sm text-white bg-[#0006] px-1 sm:px-2;
                border-radius: 10px;
              }
            }
          }
        }
      }

      .cardDiv {
        @apply col-span-6 sm:col-span-5 md:col-span-6 lg:col-span-7 overflow-hidden rounded-lg bg-[#14181d];
        .cardBody {
          @apply flex flex-col px-2 py-2 gap-4 min-h-[300px] sm:min-h-[550px] lg:min-h-[300px] justify-center;
          .cardList {
            @apply grid grid-cols-3 gap-2 w-full justify-center;
            .cardSlot {
              @apply flex flex-col items-center gap-1;
              .selectedCardImageDiv {
                @apply border-[#4691f6];
              }
              .cardImageDiv:not(.selectedCardImageDiv) {
                @apply border-transparent;
              }
              .cardImageDiv {
                @apply relative inline-block border-2 rounded w-[90%];
                &::before {
                  @apply absolute top-0 left-0 bottom-0 right-0;
                  background-repeat: no-repeat;
                  background-size: 100% 100%;
                  content: "";
                }
                &[data-grade="uncommon"]::before {
                  background-image: url("/images/card_uncommon.png");
                }
                &[data-grade="common"]::before {
                  background-image: url("/images/card_common.png");
                }
                &[data-grade="rare"]::before {
                  background-image: url("/images/card_rare.png");
                }
                &[data-grade="epic"]::before {
                  background-image: url("/images/card_epic.png");
                }
                &[data-grade="legendary"]::before {
                  background-image: url("/images/card_legendary.png");
                }
                .cardIcon {
                  padding: 2px;
                }
                .awakeningDiv {
                  @apply absolute inline-flex bottom-1 left-0 right-0 mx-auto;
                  width: 90%;
                  img {
                    width: 20%;
                  }
                }
              }
              .cardTitle {
                @apply text-center font-bold px-1 text-xs xs:text-sm break-keep;
                color: $basicFontColor;
              }
            }
          }
          .cardEffectsDiv {
            @apply flex flex-col w-full gap-4;
            .cardSetDiv {
              @apply w-full flex flex-wrap xs:flex-nowrap xs:flex-col gap-2 bg-[#191e24] py-1 rounded-lg;
              .cardSetP {
                @apply flex items-center w-full font-extrabold text-sm xs:text-lg px-2;
                .cardSetTitleSpan {
                  color: $myLightBlue;
                }
                .cardIndicator {
                  @apply font-bold text-xs px-1 xs:py-[2px] ml-2;
                  border: 2px solid #fff;
                  border-radius: 10px;

                  &:hover {
                    @apply text-[#4691f6] border-[#4691f6];
                  }
                }
              }
              .cardEffectDescrDiv {
                @apply flex items-center gap-4 justify-between text-xs xs:text-sm w-[80px] bg-[#292e34] py-1 rounded xs:w-auto xs:bg-inherit xs:py-0;
                .nameP {
                  @apply w-[27%] min-w-[80px] xs:min-w-[100px] break-keep text-center font-bold;
                }
                .descrP {
                  @apply w-[73%] hidden xs:flex items-center;
                }
              }
            }
          }
        }
      }

      .skillDiv {
        @apply col-span-6 sm:col-span-10 md:col-span-12 lg:col-span-11 overflow-hidden bg-[#14181d];
        border-radius: 0.5rem 0.5rem 0 0;

        hr {
          @apply hidden sm:block;
          border-color: #232323;
        }
        hr:last-child {
          display: none;
        }

        .skillBody {
          @apply flex flex-wrap gap-1 justify-center py-2 sm:py-0 sm:block max-h-[600px];
          .emptyInfo {
            @apply h-[300px];
          }
          .singleSkillDiv {
            @apply py-3 pl-2 pr-4 inline-flex sm:flex flex-col sm:flex-row border border-[#444] rounded-lg sm:border-0 sm:rounded-none items-center justify-center font-bold gap-3;
            color: $basicFontColor;

            .skillId {
              @apply flex gap-3 items-center;
              .skillIconSlot {
                @apply flex shrink-0 w-[50px] h-[50px] justify-center items-center;
                background-image: url(/images/skill_slot.png);
                .skillIcon {
                  @apply w-[44px];
                }
              }

              .skillDescr {
                @apply inline-flex flex-col w-[95px] sm:min-w-[125px] break-keep;
                .skillLevelP {
                  @apply text-xs;
                }
              }
            }

            .skillTripods {
              @apply grid grid-cols-[50px_50px_50px] sm:grid-cols-[70px_70px_70px] gap-2 h-[65px];
              .usedTripod {
                @apply relative flex w-[50px] sm:w-[70px] justify-center;
                img {
                  @apply w-[43px] h-[43px];
                  border-radius: 21.5px;
                  border: 1.5px solid rgb(42, 42, 42);
                }
                .tripodSlot {
                  @apply absolute inline-flex text-sm font-extrabold;
                  right: 12px;
                  top: -5px;
                }
                .tripodDescrItem {
                  @apply absolute flex flex-col text-xs text-center bg-[#0005] sm:bg-inherit;
                  bottom: -4px;
                  .tripodNameP {
                    @apply w-[55px] sm:w-[90px] break-keep;
                  }
                }
              }

              .emptyTripod {
                @apply flex justify-center items-start;
                .emptyIconWrapper {
                  @apply flex justify-center items-center w-[43px] h-[43px];
                  filter: grayscale(70%);
                  background: #14181d;
                  border-radius: 21.5px;
                  border: 1.5px solid rgb(42, 42, 42);
                  svg {
                    opacity: 30%;
                  }
                }
              }
            }

            .skillGr {
              @apply flex gap-3 items-center;
              .skillGems {
                @apply flex sm:flex-col gap-1 justify-center items-center text-sm sm:mx-3;
                .gemSlot {
                  @apply inline-flex items-center;
                  .gemWrapper {
                    @apply relative w-[40px] h-[40px];
                    .gemOption {
                      @apply absolute bottom-[1px] right-[1px] font-bold text-xs text-white bg-[#0006] px-1;
                      border-radius: 8px;
                    }
                  }
                  .emptyIconWrapper {
                    @apply flex justify-center items-center w-[40px] h-[40px];
                    filter: grayscale(80%);
                    background: #14181d;
                    border: 1.5px solid rgb(42, 42, 42);
                    svg {
                      opacity: 30%;
                    }
                  }
                }
              }

              .skillRune {
                @apply relative w-[52px] h-[52px] flex shrink-0 justify-center items-center;
                border-radius: 50%;
                border: 2px solid rgb(36, 36, 36);
                box-shadow: inset 0px 0px 7px 0px #000;
                img {
                  @apply w-11 h-11;
                }
                .runeNameP {
                  @apply absolute text-sm;
                  bottom: -7px;
                }
                .emptyRune {
                  filter: grayscale(80%);
                  opacity: 50%;
                }
              }
            }
          }
        }
      }
    }
  }

  .loadingContainer {
    @apply flex-auto flex w-full flex-col items-center justify-center;
    .loadingSvg {
      @apply m-4;
      transform-origin: 50% 65%;
    }
    .loadingMessage {
      @apply text-white font-bold text-2xl;
    }
  }

  .emptyContainer {
    @apply flex-auto flex w-full flex-col items-center justify-center;
    .emptyMessage {
      @apply text-white font-bold;
      .charName {
        @apply text-[#ee0393];
      }
    }
    .emptyBody {
      @apply relative;
      width: 450px;
      height: 500px;
      // 혹시라도 기본이미지 링크가 없으면 없는 캐릭터로
      .emptyProfileIcon {
        @apply my-[15px] mx-[62.5px] absolute top-1/2 left-1/2 z-0;
        transform: translate(-200px, -231px);
        width: 275px;
        height: 432px;
      }
    }
  }
}

@keyframes spinning {
  100% {
    stroke-dashoffset: 136;
  }
}

@keyframes jiggle {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes stretch {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}
