$basicFontColor: #eee;
$myDarkBlue: #2a5996;
$myBlue: #4691f6;
$myLightBlue: #76b1ff;

.body {
  @apply flex-auto flex flex-col xl:px-32 lg:px-24 md:px-16 sm:px-8 px-2 pt-2 gap-4;
  color: $basicFontColor;

  .searchContainer {
    @apply flex flex-col gap-4;

    .settingClassDiv {
      @apply flex flex-col gap-2 lg:gap-0;
      .classWrapper {
        @apply block text-sm md:text-base lg:flex lg:border-y lg:border-[#222];
        &:nth-child(2) {
          @apply lg:border-t-0;
        }
        .rootClassSmallTitle,
        .subClassSmallTitle {
          @apply block lg:hidden text-center py-1 text-[#aaa] font-bold;
          background: linear-gradient(0.25turn, #080808, #222, #080808);
        }
        .rootClassLargeTitle,
        .subClassLargeTitle {
          @apply hidden font-extrabold lg:flex w-24 shrink-0 justify-center items-center py-1 text-[#999];
        }
        .rootClassList {
          @apply flex-auto grid grid-cols-3 sm:grid-cols-5 lg:grid-cols-9 overflow-auto;
          .rootClassItem {
            @apply flex relative;
            .rootClassImg {
              @apply absolute h-3/4 opacity-20 top-1/2 left-1/2;
              transform: translate(-50%, -50%);
            }
            .rootClassBtn {
              @apply px-1 py-2 sm:px-2 sm:py-4 grow relative;
              p {
                @apply relative;
              }
              &:hover,
              &.selected {
                @apply font-bold;
                background-color: #0a121c;
                color: $myBlue;
              }
            }
          }
        }
        .subClassList {
          @apply flex-auto grid grid-cols-3 sm:grid-cols-4 overflow-auto;
          .subClassItem {
            @apply flex;
            .subClassImg {
              @apply absolute h-3/4 opacity-20 top-1/2 left-1/2;
              transform: translate(-50%, -50%);
            }
            .subClassBtn {
              @apply px-1 py-2 sm:px-2 sm:py-4 grow relative;
              p {
                @apply relative;
              }
              &:hover,
              &.selected {
                @apply font-bold;
                background-color: #0a121c;
                color: $myBlue;
              }
            }
          }
        }
      }
    }

    .settingSkillsetDiv {
      @apply flex flex-col items-center min-h-[240px];
      .loadingSkillsetDiv {
        @apply flex flex-col gap-2 items-center justify-center;
        .loadingSvg {
          @apply inline-block;
          polygon {
            stroke-dasharray: 17;
            animation: 2.5s cubic-bezier(0.35, 0.04, 0.63, 0.95) 0s infinite
              normal none running spinning;
          }
        }
        .loadingP {
          @apply font-extrabold text-lg;
          animation: colorChange 8s linear infinite;
        }
      }
      .selectingSkillDiv {
        @apply inline-flex flex-col gap-2 mx-auto;
        .skillsDivHeader {
          @apply flex justify-between items-center;
          .headerP {
            @apply text-xs xs:text-sm md:text-base;
            .classSpan {
              @apply font-extrabold;
              color: $myBlue;
            }
          }
          .resetBtn {
            @apply text-xs sm:text-sm px-2 py-[2px];
          }
        }
        .skillsDiv {
          @apply grid grid-cols-3 xs:grid-cols-4 sm:grid-cols-6 lg:grid-cols-9 xl:grid-cols-11 2xl:grid-cols-13 3xl:grid-cols-16
            gap-1 md:gap-2 max-h-[340px] sm:max-h-[450px] pr-2 overflow-auto;
          .skillBtn {
            @apply relative flex flex-col justify-center items-center border md:border-2 border-[#333] p-1 w-[77px] h-[81px] text-xs md:w-[90px] md:h-[90px] md:text-sm;
            .iconDiv {
              @apply w-[45px] h-[45px] md:w-[50px] md:h-[50px] flex justify-center items-center;
              background-image: url("/images/skill_slot.png");
              background-size: 100%;
              img {
                @apply w-[40px] md:w-[45px];
              }
            }
            .nameP {
              @apply break-keep flex leading-[13px] md:leading-[15px] h-[26px] md:h-[30px] items-center;
            }
          }
          .selected:not(:hover) > .iconDiv::before {
            @apply md:text-lg absolute top-0 left-0 right-0 bottom-0 bg-[#000a] font-extrabold flex justify-center items-center;
            backdrop-filter: blur(1px);
            content: "선택완료";
          }
          .selected {
            @apply border-[#4691f6] hover:border-[#d22];
            color: $myBlue;
            &:hover > .iconDiv::after {
              @apply text-base md:text-lg absolute top-0 left-0 right-0 bottom-0 bg-[#000a] font-extrabold flex justify-center items-center text-[#d22];
              backdrop-filter: blur(1px);
              content: "취소";
            }
          }
          .notSelected {
            @apply hover:border-[#090];
            &:hover > .iconDiv::after {
              @apply text-base md:text-lg absolute top-0 left-0 right-0 bottom-0 bg-[#000a] font-extrabold flex justify-center items-center text-[#1b1];
              backdrop-filter: blur(1px);
              content: "선택";
            }
          }
        }

        .emptySkillDiv {
          @apply flex flex-col items-center gap-2;
        }
      }
    }

    .settingTripodDiv {
      @apply grid grid-cols-1 mx-auto;
      .settingWrapper {
        @apply inline-grid grid-cols-1 max-xs:min-w-[90%] overflow-hidden;
        transition: height 0s 0.2s;
        &[data-selected="true"] {
          @apply h-[833.78px] xs:h-[821.78px] sm:h-[616.667px];
        }
        &[data-selected="false"] {
          @apply h-[493.111px] xs:h-[469.111px] sm:h-[616.667px];
        }
        &[data-minimize="true"] {
          @apply h-14 xs:h-8 sm:h-9;
          .settingBody {
            transform: translateY(-100%);
          }
          transition: height 0.5s;
        }

        .settingHeader {
          @apply relative z-[1] flex flex-col gap-1 xs:gap-0 xs:flex-row items-start justify-center xs:items-center xs:justify-between
           pl-2 font-bold px-2 py-1 text-xs sm:text-sm text-[#a8acba] bg-[#0d1117] border-b border-[#050505];
          .numSpan {
            @apply text-sm sm:text-base mx-1;
            color: $myBlue;
          }
          .buttonDiv {
            @apply flex gap-1;
            .resetBtn {
              @apply text-xs sm:text-sm px-2 py-[2px] border-[#555] hover:text-[#eee] hover:border-[#2a5996];
            }
            .minimizeBtn {
              @apply text-xs sm:text-sm p-0 box-content w-5 sm:w-6 flex justify-center items-center border-[#555] hover:text-[#eee] hover:border-[#2a5996];
            }
          }
        }

        .settingBody {
          @apply relative flex flex-col sm:flex-row sm:h-[580px] bg-[#0d1117] border-b border-[#050505];
          transition: transform 0.5s 0.1s;

          .settingTitle {
            @apply text-sm sm:text-base text-center font-bold sm:hidden py-1 border-y border-[#000];
            background: linear-gradient(
              90deg,
              #0d1117 15%,
              #19222c 50%,
              #0d1117 85%
            );
          }

          .selectedSkillsDiv {
            @apply flex flex-col overflow-auto my-2 sm:my-0 pl-1 pr-1 md:pr-0 bg-[#0d1117] sm:border-t border-t-[#1d1d1d] sm:border-r border-r-[#050505];
            direction: rtl;
            .emptySkillDiv {
              @apply mx-auto sm:mx-0 flex-auto flex flex-col gap-2 justify-center items-center xs:w-[320px] sm:w-[160px] md:w-[234px] lg:w-[452px] 1.5xl:w-[678px];
              direction: ltr;
              .icon {
                @apply min-w-[130px] min-h-[130px] w-2/5;
                fill: #1b212b;
              }
              .messageP {
                @apply text-[#303741] sm:text-lg lg:text-2xl font-extrabold px-2 break-keep text-center;
              }
            }
            .gridDiv {
              @apply mx-auto sm:mx-0 max-w-[390px] sm:max-w-none h-[162px] sm:h-auto 
              grid grid-cols-[80px_80px_80px] xs:grid-cols-[80px_80px_80px_80px] sm:grid-cols-[80px_80px] 
              md:grid-cols-[234px] lg:grid-cols-[226px_226px] 1.5xl:grid-cols-[226px_226px_226px];

              direction: ltr;
              .selectSkillBtn {
                @apply relative flex items-center gap-1 h-20 md:pl-2 md:py-2 bg-[#10141c] border-b border-[#060409];
                transition: box-shadow linear 0.1s;
                direction: ltr;
                &:hover,
                &.selected {
                  box-shadow: inset 0px 0px 6px -2px #6f77ff;
                }
                &::before {
                  @apply absolute top-0 left-0 right-0 bottom-0 opacity-[0.28];
                  content: "";
                  background-image: url("/images/bg_circuit.png");
                  background-size: cover;
                }
                .skillIconDiv {
                  @apply relative flex items-center justify-center w-[80px] h-[80px] bg-[length:98%_98%] md:w-16 md:h-16 md:bg-[length:100%_100%];
                  background-image: url("/images/skill_slot.png");
                  background-position: center;
                  background-repeat: no-repeat;
                  .skillIcon {
                    @apply w-[70px] h-[70px] grayscale-[85%] md:grayscale-0 md:w-14 md:h-14;
                  }
                  .nameP {
                    @apply absolute md:hidden left-0 right-0 bottom-[6px] w-[80px] text-[#aaa] break-keep mx-auto text-sm leading-[14px] font-bold;
                    text-shadow: -1px -1px 0 #000, 0 -1px 0 #000,
                      1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000,
                      0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
                  }
                  .previewDiv {
                    @apply absolute md:hidden h-4 top-1 left-1 grayscale-[85%] flex gap-[2px] text-xs font-extrabold bg-[#0008] px-1 rounded-md;
                  }

                  &[data-selected="true"] {
                    .skillIcon {
                      @apply grayscale-0;
                    }
                    .nameP {
                      @apply text-[#eee];
                    }
                    .previewDiv {
                      @apply grayscale-0;
                    }
                  }
                }
                .skillDescrDiv {
                  @apply relative hidden md:flex flex-auto flex-col justify-between items-start pr-2 border-r border-[#060409];
                  .typeDiv {
                    @apply flex items-center gap-2;
                    .previewDiv {
                      @apply flex h-4 items-center gap-1 text-xs font-extrabold;
                    }
                    .typeP {
                      @apply leading-4;
                      span {
                        @apply font-bold;
                        font-size: 14px !important;
                      }
                    }
                  }
                  .nameP {
                    @apply font-extrabold;
                  }
                }
              }
            }
          }
          .selectedSkillTripodDiv {
            @apply flex justify-center px-2 xs:px-8 py-2 bg-[#0d1117] border-t border-[#1d1d1d];
            .tripodContentDiv {
              @apply flex flex-auto flex-col xs:w-[312px];
              .tripodHeader {
                @apply text-sm sm:text-base sm:py-1 w-full text-center font-bold;
                background: linear-gradient(90deg, #121720, #090b09, #121720);
              }
              .headerLine {
                @apply relative my-8 mx-3 xs:mx-0;
                &[data-tier="0"] {
                  box-shadow: 0px 0px 3px 0.5px #4691f622;
                  &::before {
                    background: radial-gradient(#4691f617 5%, #0d111700 70%);
                  }
                  &::after {
                    background-image: url("/images/tripod1.png");
                  }
                }
                &[data-tier="1"] {
                  box-shadow: 0px 0px 3px 0.5px #00ff0022;
                  &::before {
                    background: radial-gradient(#00ff0017 5%, #0d111700 70%);
                  }
                  &::after {
                    background-image: url("/images/tripod2.png");
                  }
                }
                &[data-tier="2"] {
                  box-shadow: 0px 0px 3px 0.5px #ffff0022;
                  &::before {
                    background: radial-gradient(#ffff0017 5%, #0d111700 70%);
                  }
                  &::after {
                    background-image: url("/images/tripod3.png");
                  }
                }
                &::before {
                  @apply absolute w-32 h-32 top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%];
                  content: "";
                }
                &::after {
                  @apply absolute w-10 h-10 top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%];
                  content: "";
                  background-size: cover;
                }
                hr:first-child {
                  @apply border-[#050505];
                }
                hr:last-child {
                  @apply border-[#1d1d1d];
                }
              }

              .tripodTierContentDiv {
                @apply flex justify-center gap-[6px];
                .singleTripodBtn {
                  @apply relative z-[1] inline-flex flex-col gap-1 justify-center items-center w-[80px] xs:w-[100px] text-xs xs:text-sm;
                  &:hover .iconDiv .tripodIcon,
                  .iconDiv[data-selected="true"] .tripodIcon {
                    filter: none;
                  }
                  .iconDiv {
                    @apply relative w-14 h-14;
                    .tripodIcon {
                      @apply w-14 h-14;
                      filter: grayscale(1);
                      border-radius: 50%;
                    }
                    &::after {
                      @apply absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] w-[77px] h-[77px] opacity-0;
                      content: "";
                      transition: opacity 0.2s;
                      background-size: 100%;
                    }
                    &[data-selected="true"]::after {
                      @apply opacity-100;
                    }
                    &[data-tier="0"]::after {
                      background-image: url("/images/tripod_selected1.png");
                    }
                    &[data-tier="1"]::after {
                      background-image: url("/images/tripod_selected2.png");
                    }
                    &[data-tier="2"]::after {
                      background-image: url("/images/tripod_selected3.png");
                    }
                  }

                  .nameP {
                    @apply break-keep;
                  }

                  .upgradableDiv {
                    @apply grid grid-cols-2 gap-[1px] w-full;
                    .levelBtn {
                      @apply border text-xs leading-5;
                      &[data-active="true"] {
                        @apply font-extrabold;
                      }
                    }
                  }
                  .unupgradableDiv {
                    @apply w-full text-[#bbb];
                  }
                }
              }
            }
            .emptyTripodDiv {
              @apply xs:w-[312px] flex-auto flex flex-col gap-2 justify-center items-center;
              direction: ltr;
              .icon {
                @apply min-w-[150px] min-h-[150px] w-2/5;
                fill: #262f3d;
              }
              .messageP {
                @apply text-[#303741] sm:text-lg lg:text-2xl font-extrabold px-2 break-keep text-center;
              }
            }
          }
        }
      }

      .searchDiv {
        @apply flex border-t border-[#1d1d1d] text-[#c8ccda];
        .searchBtn {
          @apply py-2 grow font-bold hover:font-extrabold bg-[#0d1117] hover:bg-[#0b0e13];
        }
      }
    }
  }

  .resultContainer {
    @apply flex flex-col relative gap-2;
    .resultHeader {
      @apply flex justify-between items-center;
      .resultButtonDiv {
        @apply flex gap-2;
        .powderButton {
          @apply text-sm py-1 px-2;
        }
      }
    }
    .resultDiv {
      @apply min-h-[450px];
      .dataDiv {
        @apply flex flex-col gap-2;
        .skillDiv {
          @apply flex gap-2 min-h-[84px];
          .skillDescrDiv {
            @apply flex flex-col justify-center items-center w-[92px] gap-1;
            .iconWrapper {
              @apply flex justify-center items-center w-[50px] h-[50px];
              background-image: url("/images/skill_slot.png");
              background-size: 100%;
              img {
                @apply w-[44px];
              }
            }
            p {
              @apply break-keep leading-4 text-sm text-center font-bold;
            }
          }
          .tripodWrapper {
            @apply grid grid-rows-3 justify-center gap-[2px];
            .tripodDiv {
              @apply flex gap-2;
              .tripodDescrDiv {
                @apply flex items-center justify-center font-bold gap-1;
                border-radius: 14px 0px 0px 14px;
                &[data-tier="0"] {
                  background: linear-gradient(150deg, #4691f644, #000 70%);
                }
                &[data-tier="1"] {
                  background: linear-gradient(150deg, #81d36144, #000 70%);
                }
                &[data-tier="2"] {
                  background: linear-gradient(150deg, #b3b36044, #000 70%);
                }
                .emptyIcon {
                  @apply w-6 h-6 m-[2px];
                }
                .tripodIcon {
                  @apply w-7;
                }
                .tripodP {
                  @apply flex gap-1 items-center w-[144px];
                }
              }
              .totalPriceDiv {
                @apply flex items-center gap-1;
                .goldP {
                  @apply flex items-center w-[60px];
                }
              }
              .tripodPriceList {
                @apply flex items-center gap-[10px];
                .tripodPriceItem {
                  @apply flex items-center gap-[2px] font-bold min-w-[52px];
                }
              }
            }
          }
        }
      }
      .emptyDiv {
        @apply flex flex-col justify-center items-center py-10;
        .iconWrapper {
          @apply flex items-center justify-center h-[220px];
          .mgIcon {
            animation: shake 6s linear infinite;
          }
        }
      }
      .resultLoader {
        @apply relative justify-center items-center;
        .resultLoaderContent {
          @apply absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-65%] flex flex-col justify-center items-center
          text-lg font-bold leading-6;
        }
        .timeoutDiv {
          @apply absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] break-keep text-center
           w-[400px] text-lg bg-[#000d] p-4 font-bold text-[#a77];
          .timerP {
            @apply text-xl;
            color: $myBlue;
          }
        }
      }
    }
    .searchingDiv {
      @apply border border-green-300;
    }
  }
}

@keyframes spinning {
  100% {
    stroke-dashoffset: 136;
  }
}

@keyframes colorChange {
  0% {
    color: $myDarkBlue;
  }

  50% {
    color: rgb(8, 75, 32);
  }

  100% {
    color: $myDarkBlue;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  1% {
    transform: rotate(4deg);
  }
  2% {
    transform: rotate(0deg);
  }
  3% {
    transform: rotate(-4deg);
  }
  4% {
    transform: rotate(0deg);
  }
}
