$basicFontColor: #eee;
$myDarkBlue: #2a5996;
$myBlue: #4691f6;
$myLightBlue: #76b1ff;

.body {
  @apply flex-auto xl:px-32 lg:px-24 md:px-16 sm:px-8 px-2 pt-2;
  color: $basicFontColor;

  .searchContainer {
    @apply flex flex-col gap-4;

    .settingClassDiv {
      @apply flex flex-col gap-2 lg:gap-0;
      .classWrapper {
        @apply block lg:flex lg:border-y lg:border-[#222];
        &:nth-child(2) {
          @apply lg:border-t-0;
        }
        .rootClassSmallTitle,
        .subClassSmallTitle {
          @apply block lg:hidden text-center py-1 text-[#aaa] font-bold;
          background: linear-gradient(0.25turn, #080808, #222, #080808);
        }
        .rootClassLargeTitle,
        .subClassLargeTitle {
          @apply hidden font-extrabold lg:flex w-24 shrink-0 justify-center items-center py-1 text-[#999];
        }
        .rootClassList {
          @apply flex-auto grid grid-cols-3 sm:grid-cols-5 lg:grid-cols-9 overflow-auto;
          .rootClassItem {
            @apply flex relative;
            .rootClassImg {
              @apply absolute h-3/4 opacity-20 top-1/2 left-1/2;
              transform: translate(-50%, -50%);
            }
            .rootClassBtn {
              @apply px-1 py-2 sm:px-2 sm:py-4 grow relative;
              p {
                @apply relative;
              }
              &:hover,
              &.selected {
                @apply font-bold;
                background-color: #0a121c;
                color: $myBlue;
              }
            }
          }
        }
        .subClassList {
          @apply flex-auto grid grid-cols-3 sm:grid-cols-4 overflow-auto;
          .subClassItem {
            @apply flex;
            .subClassImg {
              @apply absolute h-3/4 opacity-20 top-1/2 left-1/2;
              transform: translate(-50%, -50%);
            }
            .subClassBtn {
              @apply px-1 py-2 sm:px-2 sm:py-4 grow relative;
              p {
                @apply relative;
              }
              &:hover,
              &.selected {
                @apply font-bold;
                background-color: #0a121c;
                color: $myBlue;
              }
            }
          }
        }
      }
    }

    .settingTripodDiv {
      @apply flex flex-col items-center;
      .loadingTripodDiv {
        @apply flex flex-col gap-2 items-center justify-center;
        .loadingSvg {
          @apply inline-block;
          polygon {
            stroke-dasharray: 17;
            animation: 2.5s cubic-bezier(0.35, 0.04, 0.63, 0.95) 0s infinite
              normal none running spinning;
          }
        }
        .loadingP {
          @apply font-extrabold text-lg;
          animation: colorChange 8s linear infinite;
        }
      }
      .skillsDiv {
        @apply grid grid-cols-3 xs:grid-cols-4 sm:grid-cols-6 lg:grid-cols-9 xl:grid-cols-11 2xl:grid-cols-13 3xl:grid-cols-16 gap-1 md:gap-2 mx-auto;
        .skillsDivHeader {
          @apply col-span-full;
          .classSpan {
            @apply font-extrabold;
            color: $myBlue;
          }
        }
        .skillBtn {
          @apply flex flex-col justify-center items-center border border-[#333] p-1 w-[77px] h-[81px] text-xs md:w-[88px] md:h-[88px] md:text-sm hover:border-[#4691f6] hover:text-[#4691f6] hover:bg-[#151515];
          .iconDiv {
            @apply w-[45px] h-[45px] md:w-[50px] md:h-[50px] flex justify-center items-center;
            background-image: url("/images/skill_slot.png");
            background-size: 100%;
            img {
              @apply w-[40px] md:w-[45px];
            }
          }
          .nameP {
            @apply break-keep flex leading-[13px] md:leading-[15px] h-[26px] md:h-[30px] items-center;
          }
        }
      }
    }
  }
}

@keyframes spinning {
  100% {
    stroke-dashoffset: 136;
  }
}

@keyframes colorChange {
  0% {
    color: $myDarkBlue;
  }

  50% {
    color: rgb(8, 75, 32);
  }

  100% {
    color: $myDarkBlue;
  }
}
