$basicFontColor: #eee;
$myDarkBlue: #2a5996;
$myBlue: #4691f6;
$myLightBlue: #76b1ff;

.body {
  @apply flex-auto xl:px-32 lg:px-24 md:px-16 sm:px-8 px-2 pt-2;
  color: $basicFontColor;

  .searchContainer {
    @apply flex flex-col gap-4;

    .settingClassDiv {
      @apply flex flex-col gap-2 lg:gap-0;
      .classWrapper {
        @apply block text-sm md:text-base lg:flex lg:border-y lg:border-[#222];
        &:nth-child(2) {
          @apply lg:border-t-0;
        }
        .rootClassSmallTitle,
        .subClassSmallTitle {
          @apply block lg:hidden text-center py-1 text-[#aaa] font-bold;
          background: linear-gradient(0.25turn, #080808, #222, #080808);
        }
        .rootClassLargeTitle,
        .subClassLargeTitle {
          @apply hidden font-extrabold lg:flex w-24 shrink-0 justify-center items-center py-1 text-[#999];
        }
        .rootClassList {
          @apply flex-auto grid grid-cols-3 sm:grid-cols-5 lg:grid-cols-9 overflow-auto;
          .rootClassItem {
            @apply flex relative;
            .rootClassImg {
              @apply absolute h-3/4 opacity-20 top-1/2 left-1/2;
              transform: translate(-50%, -50%);
            }
            .rootClassBtn {
              @apply px-1 py-2 sm:px-2 sm:py-4 grow relative;
              p {
                @apply relative;
              }
              &:hover,
              &.selected {
                @apply font-bold;
                background-color: #0a121c;
                color: $myBlue;
              }
            }
          }
        }
        .subClassList {
          @apply flex-auto grid grid-cols-3 sm:grid-cols-4 overflow-auto;
          .subClassItem {
            @apply flex;
            .subClassImg {
              @apply absolute h-3/4 opacity-20 top-1/2 left-1/2;
              transform: translate(-50%, -50%);
            }
            .subClassBtn {
              @apply px-1 py-2 sm:px-2 sm:py-4 grow relative;
              p {
                @apply relative;
              }
              &:hover,
              &.selected {
                @apply font-bold;
                background-color: #0a121c;
                color: $myBlue;
              }
            }
          }
        }
      }
    }

    .settingSkillsetDiv {
      @apply flex flex-col items-center min-h-[240px];
      .loadingTripodDiv {
        @apply flex flex-col gap-2 items-center justify-center;
        .loadingSvg {
          @apply inline-block;
          polygon {
            stroke-dasharray: 17;
            animation: 2.5s cubic-bezier(0.35, 0.04, 0.63, 0.95) 0s infinite
              normal none running spinning;
          }
        }
        .loadingP {
          @apply font-extrabold text-lg;
          animation: colorChange 8s linear infinite;
        }
      }
      .selectingSkillDiv {
        @apply inline-flex flex-col gap-2 mx-auto;
        .skillsDivHeader {
          .headerP {
            @apply text-xs xs:text-sm md:text-base;
            .classSpan {
              @apply font-extrabold;
              color: $myBlue;
            }
          }
        }
        .skillsDiv {
          @apply grid grid-cols-3 xs:grid-cols-4 sm:grid-cols-6 lg:grid-cols-9 xl:grid-cols-11 2xl:grid-cols-13 3xl:grid-cols-16
            gap-1 md:gap-2 max-h-[340px] sm:max-h-[450px] pr-2 overflow-auto;
          .skillBtn {
            @apply relative flex flex-col justify-center items-center border md:border-2 border-[#333] p-1 w-[77px] h-[81px] text-xs md:w-[90px] md:h-[90px] md:text-sm;
            .iconDiv {
              @apply w-[45px] h-[45px] md:w-[50px] md:h-[50px] flex justify-center items-center;
              background-image: url("/images/skill_slot.png");
              background-size: 100%;
              img {
                @apply w-[40px] md:w-[45px];
              }
            }
            .nameP {
              @apply break-keep flex leading-[13px] md:leading-[15px] h-[26px] md:h-[30px] items-center;
            }
          }
          .selected:not(:hover) > .iconDiv::before {
            @apply md:text-lg absolute top-0 left-0 right-0 bottom-0 bg-[#000a] font-extrabold flex justify-center items-center;
            backdrop-filter: blur(1px);
            content: "선택완료";
          }
          .selected {
            @apply border-[#4691f6] hover:border-[#d22];
            color: $myBlue;
            &:hover > .iconDiv::after {
              @apply text-base md:text-lg absolute top-0 left-0 right-0 bottom-0 bg-[#000a] font-extrabold flex justify-center items-center text-[#d22];
              backdrop-filter: blur(1px);
              content: "취소";
            }
          }
          .notSelected {
            @apply hover:border-[#090];
            &:hover > .iconDiv::after {
              @apply text-base md:text-lg absolute top-0 left-0 right-0 bottom-0 bg-[#000a] font-extrabold flex justify-center items-center text-[#1b1];
              backdrop-filter: blur(1px);
              content: "선택";
            }
          }
        }

        .emptySkillDiv {
          @apply flex flex-col items-center gap-2;
        }
      }
    }

    .settingTripodDiv {
      @apply bg-[#151a23] flex;
      .settingWrapper {
        @apply inline-grid grid-cols-1 mx-auto;
        .settingHeader {
          @apply flex justify-between items-center pl-2 font-bold px-2 py-1 text-sm text-[#a8acba] bg-[#0d1117] border-b border-[#050505];
          .numSpan {
            @apply text-base mx-1;
            color: $myBlue;
          }
        }
        .settingBody {
          @apply flex;
          .selectedSkillsDiv {
            @apply flex flex-col h-[560px] overflow-auto pl-1 bg-[#0d1117] border-t border-t-[#1d1d1d] border-r border-r-[#050505];
            direction: rtl;
            .gridDiv {
              @apply grid md:grid-cols-[234px] lg:grid-cols-[226px_226px] 1.5xl:grid-cols-[226px_226px_226px];

              direction: ltr;
              .selectSkillBtn {
                @apply relative flex items-center gap-1 pl-2 py-2 bg-[#10141c] hover:bg-[#0d1016] border-b border-[#060409];
                direction: ltr;
                &::before {
                  @apply absolute top-0 left-0 right-0 bottom-0 opacity-[0.28];
                  content: "";
                  background-image: url("/images/bg_circuit.png");
                  background-size: cover;
                }
                .skillIconDiv {
                  @apply relative flex items-center justify-center w-16 h-16;
                  background-image: url("/images/skill_slot.png");
                  background-size: 100%;
                  .skillIcon {
                    @apply w-14 h-14;
                  }
                }
                .skillDescrDiv {
                  @apply relative flex flex-auto flex-col justify-between items-start pr-2 border-r border-[#060409];
                  .typeP span {
                    @apply font-bold;
                    font-size: 14px !important;
                  }
                  .nameP {
                    @apply font-extrabold;
                  }
                }
              }
            }
          }
          .selectedSkillTripodDiv {
            @apply flex justify-center px-8 py-2 w-[376px] h-[560px] bg-[#0d1117] border-t border-[#1d1d1d];
            .tripodContentDiv {
              @apply flex flex-auto flex-col;
              .tripodHeader {
                @apply py-1 w-full text-center font-bold;
                background: linear-gradient(90deg, #121720, #090b09, #121720);
              }
              .headerLine {
                @apply relative my-8;
                &[data-tier="0"] {
                  box-shadow: 0px 0px 3px 0.5px #4691f622;
                  &::before {
                    background: radial-gradient(#4691f617 5%, #0d111700 70%);
                  }
                  &::after {
                    background-image: url("/images/tripod1.png");
                  }
                }
                &[data-tier="1"] {
                  box-shadow: 0px 0px 3px 0.5px #00ff0022;
                  &::before {
                    background: radial-gradient(#00ff0017 5%, #0d111700 70%);
                  }
                  &::after {
                    background-image: url("/images/tripod2.png");
                  }
                }
                &[data-tier="2"] {
                  box-shadow: 0px 0px 3px 0.5px #ffff0022;
                  &::before {
                    background: radial-gradient(#ffff0017 5%, #0d111700 70%);
                  }
                  &::after {
                    background-image: url("/images/tripod3.png");
                  }
                }
                &::before {
                  @apply absolute w-32 h-32 top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%];
                  content: "";
                }
                &::after {
                  @apply absolute w-10 h-10 top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%];
                  content: "";
                  background-size: cover;
                }
                hr:first-child {
                  @apply border-[#050505];
                }
                hr:last-child {
                  @apply border-[#1d1d1d];
                }
              }

              .tripodTierContentDiv {
                @apply flex justify-between;
                .singleTripodDiv {
                  @apply inline-flex flex-col gap-1 justify-center items-center w-[100px] text-sm;
                  .iconDiv {
                    @apply w-14 h-14;
                    img {
                      @apply w-14 h-14;
                      border-radius: 50%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes spinning {
  100% {
    stroke-dashoffset: 136;
  }
}

@keyframes colorChange {
  0% {
    color: $myDarkBlue;
  }

  50% {
    color: rgb(8, 75, 32);
  }

  100% {
    color: $myDarkBlue;
  }
}
