@tailwind base;
@tailwind components;
@tailwind utilities;

$lowQ: #ffd200;
$mediumLowQ: #61ce02;
$mediumQ: #00b5ff;
$highQ: #ce43fc;
$maxQ: #fe9600;
$basicFontColor: #eee;
$myDarkBlue: #2a5996;
$myBlue: #4691f6;
$myLightBlue: #76b1ff;

html {
  background-color: #010101;
}

.modalRoot {
  @apply absolute top-0 left-0 right-0 h-screen flex flex-wrap bg-[#0009] items-center justify-center z-[7] overflow-auto;
  transition: opacity 0.5s linear;
  color: $basicFontColor;
  backdrop-filter: blur(1px);
  .modalContent {
    @apply relative w-1/2 min-w-[320px] max-w-[650px] py-2 xs:py-3 rounded xs:rounded-xl bg-[#111];
    border: 1px solid #555;
    box-shadow: 0px 0px 10px -2px #aaa;
    hr {
      @apply border-[#444] border-dashed;
    }
    .modalCloseBtn {
      @apply absolute right-2 top-2 xs:right-3 xs:top-3;
      &:hover svg {
        stroke: #a33;
      }
    }
    .modalTitle {
      @apply text-lg font-bold xs:text-2xl xs:font-extrabold;
    }
    .modalSubtitle {
      @apply text-base xs:text-lg font-bold;
    }
    .modalEmptyListItem {
      @apply text-[#bbb];
    }
    .modalList {
      @apply flex flex-wrap gap-x-2 gap-y-1 my-1;
      .modalListItem {
        @apply py-1 px-2 border rounded;
      }
    }
    .modalVerticalList {
      @apply flex flex-col gap-1;
    }
    .saveModalContentDiv {
      @apply flex flex-col gap-2 pl-3 xs:pl-4 pr-2 xs:pr-3 max-h-[650px] xs:max-h-[800px] overflow-auto;
      .saveModalCurrentDiv {
        @apply flex flex-col gap-1;
        .modalListItem {
          @apply border-[#444];
        }
      }
      .savedPresetList {
        @apply py-2 xs:py-3 flex flex-wrap gap-2;
        .savedPresetListItem {
          @apply flex flex-col px-2 py-1 border border-[#eee] rounded items-start;
          .savedPresetListItemEngraveDiv,
          .savedPresetListItemStatDiv {
            @apply px-2 py-1 border border-[#eee] rounded;
          }
          .myButtons {
            @apply mx-auto text-sm hover:bg-[#a22] hover:border-[#a22];
          }
        }
      }
      .saveModalSavingDiv {
        @apply flex flex-col gap-4;
        label {
          @apply flex flex-col;
          input {
            @apply mt-2 w-1/2 min-w-[190px] bg-transparent outline-none border-b border-[#333] focus:border-[#4691f6] p-1 text-[#eee] focus:text-[#76b1ff];
          }

          &[data-valid="false"] input {
            @apply border-[#c66];
          }
        }
        label[data-valid="true"] {
          &::after {
            @apply text-[#76b1ff];
            content: "사용 가능한 이름입니다.";
          }
        }
        label[data-valid="false"] {
          &::after {
            @apply text-[#c66];
            content: "사용 불가능한 이름입니다.";
          }
          input {
            @apply border-[#c66] text-[#c66];
          }
        }
      }
    }
    .loadModalContentDiv {
      @apply flex flex-col gap-2 pl-3 xs:pl-4;
      .loadModalContentDivHeader {
        @apply flex gap-2;
        .loadModalContentViewBtn {
          @apply inline-flex gap-1 text-[#777];
          svg {
            stroke: #777;
          }
          &[data-selected="true"] {
            @apply text-[#eee] font-bold;
            svg {
              stroke: #eee;
            }
          }
        }
      }
      .loadModalDetailDiv {
        .modalListItem {
          @apply border-[#444];
        }
        .loadModalDetailList {
          @apply flex flex-col gap-4 max-h-[650px] xs:max-h-[800px] overflow-auto pr-2 xs:pr-3;
          .loadModalDetailListItem {
            @apply flex flex-col gap-1;
            .presetName {
              color: $myBlue;
            }
            .accessoryListItem {
              .accessoryTitle {
                @apply flex items-center gap-2 font-bold;
              }
            }

            .detailListItemButtonDiv {
              @apply grid grid-cols-2 gap-1 mt-4;
              .myButtons {
                @apply justify-center;
                &:not(:first-child):hover {
                  @apply bg-[#a22] border-[#a22];
                }
              }
            }
          }

          hr:last-child {
            @apply hidden;
          }
        }
      }
      .loadModalSimpleDiv {
        .loadModalSimpleList {
          @apply flex flex-wrap flex-row gap-2 justify-center max-h-[650px] xs:max-h-[800px] overflow-auto pr-2 xs:pr-3;
          .loadModalSimpleListItem {
            @apply inline-flex flex-col gap-2 border border-[#555] rounded py-1 px-2;
            .presetName {
              @apply text-center;
              color: $myBlue;
            }
            .descrDiv {
              .descrP {
                @apply ml-2;
              }
            }
            .simpleListItemButtonDiv {
              @apply flex flex-col gap-1;
              .myButtons {
                @apply justify-center;
                &:not(:first-child):hover {
                  @apply bg-[#a22] border-[#a22];
                }
              }
            }
          }
        }
      }
      .loadModalEmptyDiv {
        @apply flex flex-col items-center text-lg xs:text-xl font-bold text-[#888] py-4 text-center;
      }
    }
  }
}

.myButtons {
  @apply flex items-center text-lg gap-2 px-3 py-1;

  transition: background-color 0.2s, border-color 0.2s;
  border: 1px solid $basicFontColor;
  margin: 1px;
  border-radius: 7px;
  &:hover,
  &.focus {
    @apply font-bold;
    background: $myDarkBlue;
    border-color: $myDarkBlue;
    border-width: 1px;
    svg {
      stroke: $basicFontColor;
    }
  }
}

.lowQ {
  background-color: $lowQ;
}
.mediumLowQ {
  background-color: $mediumLowQ;
}
.mediumQ {
  background-color: $mediumQ;
}
.highQ {
  background-color: $highQ;
}
.maxQ {
  background-color: $maxQ;
}

.svgIcon {
  width: 1.5em;
  height: 1.5em;
}

.svgIcon path,
.svgIcon polygon,
.svgIcon rect {
  fill: $myBlue;
}

.menuArrow path {
  animation: blink 1.5s infinite linear;
}

@keyframes blink {
  0% {
    fill: rgba($color: $myBlue, $alpha: 0.8);
  }
  50% {
    fill: transparent;
  }
  100% {
    fill: rgba($color: $myBlue, $alpha: 0.8);
  }
}

.svgIcon circle {
  stroke: $myBlue;
  stroke-width: 1;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

html,
body,
.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.react-horizontal-scrolling-menu--wrapper {
  @apply px-4 relative;
}

.react-horizontal-scrolling-menu--arrow-left,
.react-horizontal-scrolling-menu--arrow-right {
  @apply absolute h-[70px] z-[1] items-center;
}

.react-horizontal-scrolling-menu--arrow-left {
  left: 0;
}

.react-horizontal-scrolling-menu--arrow-right {
  right: 0;
}

.normalBackground {
  border: 1.5px solid #363636;
  background: linear-gradient(135deg, #232323, #575757);
}
.uncommonBackground {
  border: 1.5px solid #21330b;
  background: linear-gradient(135deg, #18220b 0%, #304911 100%);
}
.rareBackground {
  border: 1.5px solid #183653;
  background: linear-gradient(135deg, #111f2c 0%, #113d5d 100%);
}
.epicBackground {
  border: 1.5px solid #391a4c;
  background: linear-gradient(135deg, #261331 0%, #480d5d 100%);
}
.legendaryBackground {
  border: 1.5px solid rgb(129, 88, 7);
  background: linear-gradient(135deg, #362003 0%, #9e5f04 100%);
}

.relicBackground {
  border: 1.5px solid rgb(117, 47, 12);
  background: linear-gradient(135deg, #341a09 0%, #a24006 100%);
}

.ancientBackground {
  border: 1.5px solid rgb(148, 116, 29);
  background: linear-gradient(135deg, #3d3325 0%, #dcc999 100%);
}

.siderealBackground {
  border: 1.5px solid rgb(37, 142, 174);
  background: linear-gradient(135deg, #0c2e2c 0%, #2faba8 100%);
}

.commonColor {
  color: #eee;
}
.uncommonColor {
  color: #54d31a;
}
.rareColor {
  color: #00b0fa;
}
.epicColor {
  color: #ce43fc;
}
.legendaryColor {
  color: #f18d00;
}
.relicColor {
  color: #fa5d00;
}
.ancientColor {
  color: #e3c7a1;
}
.siderealColor {
  color: #3cf2e6;
}

.commonBgColor {
  background-color: #eee;
}
.uncommonBgColor {
  background-color: #63e925;
}
.rareBgColor {
  background-color: #0081b8;
}
.epicBgColor {
  background-color: #9a30bd;
}
.legendaryBgColor {
  background-color: #ca7600;
}
.relicBgColor {
  background-color: #fa5d00;
}
.ancientBgColor {
  background-color: #e3c7a1;
}
.siderealBgColor {
  background-color: #3cf2e6;
}

.commonBorderColor {
  border-color: #eee;
}
.uncommonBorderColor {
  border-color: #63e925;
}
.rareBorderColor {
  border-color: #0081b8;
}
.epicBorderColor {
  border-color: #9a30bd;
}
.legendaryBorderColor {
  border-color: #ca7600;
}
.relicBorderColor {
  border-color: #fa5d00;
}
.ancientBorderColor {
  border-color: #e3c7a1;
}
.siderealBorderColor {
  border-color: #3cf2e6;
}

.react-tooltip-arrow {
  display: none;
}

.favoriteIcon {
  @apply inline-block cursor-pointer hover:stroke-red-500 transition-all duration-200 mx-2;
}

.deleteIcon {
  @apply inline-block cursor-pointer hover:stroke-[#437dcb] transition-all duration-200 mx-2;
}

.hideScroll {
  -ms-overflow-style: none; /* IE and Edge */
  // scrollbar-width: none; /* Firefox */
  scrollbar-color: #4a4c55 #1a1c25;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 4px;
    height: 8px;
    background-color: #1a1c25;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #4a4c55;
  }
}

.apiDiv {
  @apply relative flex items-center gap-x-4 gap-y-1 flex-wrap;
  &[data-editing="true"] {
    @apply pt-6;
  }
  .apiKeyInput {
    @apply w-44 bg-transparent outline-none h-8 leading-8 text-lg text-[#eee];
    border-bottom: 1px solid #333;
    &:focus {
      border-color: $myBlue;
      color: $myBlue;
    }
  }

  .apiDescr {
    @apply text-xs text-red-600 w-full;
  }

  .placeholder {
    @apply absolute top-8 left-0 text-[#999];
    transition: color 300ms ease-in-out, top 300ms ease-in-out,
      left 300ms ease-in-out, font-size 300ms ease-in-out;
  }
  .apiKeyInput:valid ~ .placeholder {
    @apply text-sm top-2 left-0;
  }
  .apiKeyInput:focus ~ .placeholder {
    @apply text-sm top-2 left-0;
    color: $myBlue;
  }

  button {
    @apply inline-flex text-base px-1 gap-1;
    &[data-px="2"] {
      @apply px-2;
    }
  }
  a {
    @apply inline-flex text-base cursor-pointer px-2 gap-1;
  }

  .apiKeyDiv {
    @apply w-44 font-bold h-8 leading-8 box-content relative overflow-hidden;
    &[data-valid="false"] {
      @apply text-red-800 text-center bg-[#f003] border border-red-900;
    }
    &[data-valid="true"]::after {
      @apply absolute top-0 left-0 right-0 bottom-0 flex items-center justify-center;
      content: "API KEY 등록완료";
      color: $myBlue;
      border: 1px solid $myBlue;
      background-color: #0c1b2fee;
    }
  }
}
