@tailwind base;
@tailwind components;
@tailwind utilities;

$myBlue: #4691f6;

@font-face {
  font-family: "NanumSquareNeo";
  src: url("../fonts/NanumSquareNeo/NanumSquareNeo-bRg.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquareNeo";
  src: url("../fonts/NanumSquareNeo/NanumSquareNeo-cBd.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquareNeo";
  src: url("../fonts/NanumSquareNeo/NanumSquareNeo-aLt.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

html {
  font-family: "Roboto", "NanumSquareNeo", sans-serif;
}

.svgIcon {
  width: 1.5em;
  height: 1.5em;
}

.svgIcon path,
.svgIcon polygon,
.svgIcon rect {
  fill: $myBlue;
}

.menuArrow path {
  animation: blink 1.5s infinite linear;
}

@keyframes blink {
  0% {
    fill: rgba($color: $myBlue, $alpha: 0.8);
  }
  50% {
    fill: transparent;
  }
  100% {
    fill: rgba($color: $myBlue, $alpha: 0.8);
  }
}

.svgIcon circle {
  stroke: $myBlue;
  stroke-width: 1;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

html,
body,
.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.react-horizontal-scrolling-menu--wrapper {
  @apply px-4;
  position: relative;
}

.react-horizontal-scrolling-menu--arrow-left,
.react-horizontal-scrolling-menu--arrow-right {
  align-items: center;
  position: absolute;
  height: 70px;
  z-index: 3;
}

.react-horizontal-scrolling-menu--arrow-left {
  left: 0;
}

.react-horizontal-scrolling-menu--arrow-right {
  right: 0;
}
