.container {
  .cardList {
    @apply flex justify-center items-center h-[400px];
    perspective: 1500px;
    .cardItem {
      @apply relative w-[200px] h-[300px] flex items-center justify-center border border-[#fff] transition-all duration-300 bg-[#f00];
      margin: 0px -30px;
      &:hover {
      }

      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          z-index: 3-$i;
          transform: rotateY(-50deg)
            rotateZ(calc(-30deg + (15deg * $i)))
            translateY(-30px * (1 - ($i % 2)));

          &.selectedMenu {
            @apply w-[240px] h-[360px] z-[3];
            margin: 0px -5px;
            transform: rotateY(-180deg)
              rotateZ(calc(30deg - (15deg * $i)))
              translateY(-30px * (1 - ($i % 2)));
          }
        }
      }
    }

    .cardListWrapper {
      @apply absolute z-[4] top-0 left-0 right-0 bottom-0 bg-[#f002] flex justify-center items-center;
      perspective: 1500px;
      .cardItemWrapper {
        @apply relative w-[200px] h-[300px] flex items-center justify-center cursor-pointer;
        margin: 0px -30px;

        @for $i from 1 through 3 {
          &:nth-child(#{$i}) {
            transform: rotateY(-50deg)
              rotateZ(calc(-30deg + (15deg * $i)))
              translateY(-30px * (1 - ($i % 2)));

            &.selectedMenu {
              @apply w-[240px] h-[360px] z-[5];
              margin: 0px -5px;
              transform: rotateY(0deg)
                rotateZ(calc(-30deg + (15deg * $i)))
                translateY(-30px * (1 - ($i % 2)));
            }
          }
        }
      }
    }
  }
}
